<div class="slider">
  <button class="btn-seta btn-voltar" (click)="voltar()">
    <img src="assets/images/seta.png" alt="Voltar" class="icon-seta">
  </button>

  <div class="lista-personagens">
    @for (card of cards; track card.id; let i = $index) {
      <div 
        class="cartao {{ 'fundo-' + (i + 1) }}" 
        [class.selecionado]="i === cardAtual()"
      >
        <h2 class="nome">{{ card.name }}</h2>
        
        <div class="nivel-carta">
          @for (n of [].constructor(card.nivel); track $index) {
            <div class="estrela"></div>
          }
        </div>

        <img 
          class="imagem-carta" 
          [ngSrc]="'assets/images/' + card.image" 
          [alt]="card.alt" 
          width="260" 
          height="280"
          priority
        >

        <div class="informacoes">
          <div class="descricao">
            <p>{{ card.descricao }}</p>
          </div>
        </div>

      </div>
    }
  </div>

  <button class="btn-seta" (click)="avancar()">
    <img src="assets/images/seta.png" alt="Avançar" class="icon-seta">
  </button>
</div>
