<main class="slider">
  <button class="btn-seta btn-voltar" (click)="previous()" [disabled]="currentIndex() === 0">
    <img src="../../assets/images/seta.png" alt="seta voltar">
  </button>

  <div class="card-container">
    @if (selectedCard()) {
      <app-card-item
        [card]="selectedCard()"
        [cardIndex]="currentIndex()">
      </app-card-item>
    }
  </div>

  <!-- Corrigido: cards().length -> cards.length -->
  <button class="btn-seta btn-avancar" (click)="next()" [disabled]="currentIndex() === cards.length - 1">
    <img src="../../assets/images/seta.png" alt="seta avançar">
  </button>
</main>
