<main class="slider">
  <button class="btn-seta btn-voltar" (click)="previous()" [disabled]="currentIndex() === 0">
    ←
  </button>

  <!-- Container direto para o card, para garantir a centralização -->
  <div class="card-container">
    @if (selectedCard()) {
      <app-card-item
        [card]="selectedCard()"
        [cardIndex]="currentIndex()">
      </app-card-item>
    }
  </div>

  <button class="btn-seta btn-avancar" (click)="next()" [disabled]="currentIndex() === cards.length - 1">
    →
  </button>
</main>
